.container{
    display: flex;
    direction: row;
    margin: 138px;
    gap: 103px;
}

.text1{
    font-size: 45px;
    margin-top: 20px;
    color: rgb(175, 122, 179);
}

.text2{
    margin-left: 10px;
    font-size: 25px;
    color: rgba(255,199,60,255);
    color: rgb(175, 122, 179);
    margin-top: 30px;
}

.homeImage{
    width:500px;
     height:300px;
     border-radius: 30px;
}



