*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    /* background-color: #dcd9ff; */
}
main{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.newticketbutton{
    background-color: #fc8cb7;
    color: white;
    font-size: 1.5em;
    border-radius: 7px;
    width: 225px;
    height: 50px;
}
.newticketbutton:hover{
    background-color:  #BF9D9D;
    color: white;
    transition: all 0.2s ease;
}
.unclickable{
pointer-events: none;
opacity: 0;
}
.popup{
    position: fixed;
    right:18%;
    top: 25%;
    width: 60%;
    height: 55%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 4px #ffc73c, 0 8px 16px #ffc73c;
}

h1{
    font: bolder;
    font-size: 2em;
    color: rgb(175, 122, 179);

  }
.submit-btn{
    margin-right: 20%;
    width: 100%;
    padding:0.7em 2em;
    background-color: #9C9EFE;
    color: white;
    cursor:pointer;
    font-size: 1em;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
}

.submit-btn:hover {
    background-color: black;
    color:white;
}

.close-btn{
    height: 20px;
    width: 20px;
    background-color: #ff1493;
    color: white;
    cursor:pointer;
    margin-left: 100%;
}
.ticketingButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.alignment{
    display:flex;
    flex-direction: row;
    padding-bottom:1%;
    justify-content: center;
    font-size: 2.8rem;
}

.alignment label {
    color: rgb(175, 122, 179);
    width:15%
}

.alignment input,select{
    width: 50%;
}

.txta{
    width: 80%;
    margin-left: 80px;
    margin-top: -31.5px;
    text-align: center;
}
table {
    padding-top: 2%;
    margin: auto;
    width:95%;
    max-width: 95%;
    width: 100%;
    height: 200px;
  }
    
th {
    background-color:darkslateblue;    ;
    color: #ffebeb;
    font-size: 1.4em;
    height: 3em;
    }

.th .flip:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
    
td {
    text-align: center;
    font-size: 1.3em;
    border: black 1px solid;
    height: 2rem;  
    color: black;  
    font-style:oblique;
    background-color: white;
}
  
.scrollingTable {
    width: 30em;
    overflow-y: auto;
}
