*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}
main{
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.newticketbutton{
    background-color: #fc8cb7;
    color: white;
    font-size: 1.5em;
    border-radius: 7px;
    width: 225px;
    height: 50px;
}
.newticketbutton:hover{
    background-color:  #BF9D9D;
    color: white;
    transition: all 0.2s ease;
}
.unclickable{
pointer-events: none;
opacity: 0;
}