*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
    /* background-color: #dcd9ff; */
}
.popup{
    position: fixed;
    right:18%;
    top: 25%;
    width: 60%;
    height: 55%;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 4px #ffc73c, 0 8px 16px #ffc73c;
}
h1{
    font: bolder;
    font-size: 2rem;
    color: rgb(175, 122, 179);

  }
.submit-btn{
    margin-left: 5%;
    width: 90%;
    padding:1.5rem 2rem;
    background-color: #9C9EFE;
    color: white;
    cursor:pointer;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 5px;
    justify-content: center;
}

.submit-btn:hover {
    background-color: black;
    color:white;
}

.ticketingButton{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.alignment{
    display:flex;
    flex-direction: row;
    padding-bottom:6%;
    justify-content: center;
    font-size: 2.8rem;
}

.alignment label {
    color: rgb(175, 122, 179);
    width: 18%
}

.alignment input,select{
    width: 50%;
}

.txta{
    width: 90%;
    margin-left:5%;
    margin-top: -5%;
    margin-bottom: 1%;
    text-align: center;
    height: 80px;
    font-size: 2rem;
}
table {
    padding-top: 2%;
    margin: auto;
    max-width: 95%;
    width: 100%;
    height: 100%;
    text-align: center;

  }
    
th {
    font-size: 2rem;
    text-align: center;
}

.th .flip:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
    
td {
    text-align: center;
    font-size: 1.8rem;
    border: black 1px solid;
    height: 2rem;  
    color: black;  
    font-style:oblique;
    background-color: white;
}
  
.scrollingTable {
    width: 30em;
    overflow-y: auto;
}