
.text-center{
width: 30%;
padding: 10px;
margin: auto;
}
.card{
    margin-bottom: 10px;
    margin-top: 10px;
}
.card{
    display:inline-grid;
    text-align: center;
    height: 100px;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 10%;
}
.Nice{
    display:inline-grid;
    text-align: center;
    height: 100px;
    width: 20%;
    margin-left: 10%;
    margin-bottom: 10%;
    
}