
body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px;
    display: block;
    margin: 10px auto 0;
    font-size: 18px;
    border: none;
}
.btn-modal:hover {
    border: 0.5px solid black;
}
.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}
.overlay {
    min-width: 100%;
    min-height: 100%;
    background: rgba(19,19,19,0.7);
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-content {
    min-width: 50%;    
    max-width: 80%;
    min-height: 10%;    
    max-height: 100%;
    margin: auto;
    padding: auto;
    box-shadow: 0 2px 4px #ffc73c, 0 8px 16px #ffc73c;
    padding: 20px;    
    }

.close-modal {
    bottom: 10px;
    padding: 5px 7px;
    border-radius: 10px;
    width: 60%;
    align-items: center;
    margin:auto;
} 

.popuptitle{
    font-size: 3.5rem;
    font-style: normal;
    color: rgb(175, 122, 179);
    border-bottom: 1px solid gray;
}

.popupcontent{
    font-size: 2.5rem;
    color: black;
}
.labelTitle{
    font-size: 2.5rem;
    font: bolder;
}