.checked{
    display:flex;
    text-align: center;
    height: auto;
    width: 300px;
    margin-left: 2%;
    margin-bottom: 2%;
    border: none;
    border-radius: 4px;
    background:rgb(122, 134, 182);
}
.checked:hover{
    background:rgb(255, 100, 100);
}
.notchecked{
    display:flex;
    text-align: center;
    height: auto;
    width: 300px;
    margin-right: 2%;
    margin-bottom: 2%;
    border: 1px black solid;
    border-radius: 4px;
    background:rgb(255, 100, 100);
}
.notchecked:hover{
    background:rgb(122, 134, 182);
}
.card-title{
    font-size: 2.2rem;
}
.UpDownBorder{
    display: flex;
    border-top: 1px gray solid;
    border-bottom: 0.5px gray solid;
}
.bttn{
    margin-right: 92%;
    width: 80px;
    height: auto;
    font-size: 1.7rem;
    background-color: rgb(122, 134, 182);
    color: white
}
.bttn:hover{
    background-color:white;
    color: black;
}
.center{
    margin:auto;
    align-items: center;
}
.centerr{
    display:inline;
    margin-left: 39%;
    text-align: center;
}
.rightdiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: right;
    width: auto;
    height: auto;
    margin: auto;
}
.leftdiv{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    justify-content: left;    
    width: auto;
    height: auto;
    margin: auto;
}
.container{
    margin: auto;
    padding: 2rem;
    height: 100%;
}